body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: green;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color:green;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color:green;
}

main {
    display: flex;
    margin: 20px;
}

.main-content {
    flex: 3;
    margin-right: 20px;
}

.product {
    border: 1px solid green ;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar {
    flex: 1;
    border: 1px solid green;
    padding: 10px;
}

footer {
    background-color: green;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.carousel-inner > .carousel-item > img {
    object-fit: cover; /* Scale the image to cover the entire container */
    object-position: center; /* Center the image within the container */
    height: 80vh; /* Set the image height to 50% of the viewport height */
    overflow: hidden; /* Hide any extra parts of the image */
}





img {
    width: 100px;
    
}
.my-column:hover {
    background-color:green; /* green */
  }
  
  .hover-1 {
    background-image: linear-gradient(green0);
    background-size: var(--p, 0%);
    background-repeat: no-repeat;
    transition: 0.4s;
}

.hover-1:hover {
    --p: 100%;
    color: #fff;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0;
}
.navbar-toggler-icon {
    background-color: transparent !important;
}

     /* Custom CSS for card hover effect */
.card {
    transition: transform 0.3s,background-color 0.3s;
    /* Add other card styles as needed */
}

.card:hover {
    background-color: green;
    transform: translateY(10px);

.my-custom-h4 {
    z-index: 100;
    font-size: 24px;
        color:green;
        background-color:green;
        padding: 10px;
        position: absolute;
    }
}
